@font-face {
	font-family: 'Terminus';
	src: local('☺'), url('../fonts/TerminusMedium-4.38.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
    background: rgb(0,0,0);
    color: rgb(220,220,220);
    font-family: 'Terminus', monospace;
    line-height: 140%;
}

h2 {
    text-align: center;
    line-height: 140%;
}

table {
    width: 50%;
    margin: auto;
}
td {
    width: 33%;
    vertical-align: top;
}

/*eigenen Video-Kanal ausblenden*/
video#myVideo {
    position: absolute;
    left: -9999px;
}

/*remote Video*/
video#remoteVideo {
    width: 50%;
    margin: auto;
}
div#video-container {
    margin: 0 auto;
    text-align: center;
}