body, html {
    width: 100%;
    height: 100%;
}

body {
    
}

/*Video für Cyborg ausblenden*/
video {
    left: -9999px;
    top: -9999px;
    position: fixed;
}

/*Einzelne, füllende Div-Overlays*/
div.cyborgOverlay1, div.cyborgOverlay2 {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 70%;
    height: 100%;
}

div.cyborgOverlay1 {
    z-index: 1;
}

div.cyborgOverlay2 {
    z-index: 2;
    background: rgba(255,255,255,1);
}

div.overlayStart {
    display: block;
}

div#navigation-rechts {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 30%;
}